/*===============00.RESET===============*/
/*===============01.GENERAL===============*/
/*===============02.HEADER===============*/




/*===============00.RESET===============*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:before, :after {
		box-sizing: border-box;
	}

	a, span, :before, :after {
		display: inline-block;
	}

	body {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color:#555;
		line-height: 1.285;
		background-image: url(../images/background.png);
		min-height: 2000px;

	}

	.container {
		width: 1170px;
		margin: 0 auto;
	}

	:focus{
		outline: none;
	}

	a {
		text-decoration: none;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	ul{
		list-style: none;
	}

	img {
		max-width: 100%;
	}
/*===============01.HEADER===============*/
	.top-header {
		font-size: 13px;
		color: #0c8597;
		font-weight: 500;
		text-transform: uppercase;
		padding: 12px 0;
		border-bottom: 1px solid #e0e0e0;
	}

	.header .wrapper-logo {
		font-size: 0 !important;
	}

	.header {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.header .logo, 
	.header .hotline {
		display: inline-block;
		vertical-align: middle;
	}

	.header .logo {
		width: 130px;
	}

	.header .hotline {
		width: calc(100% - 130px);
		text-align: right;
		font-size: 16px;
	} 

	.header .hotline img,
	.header .hotline p {
		display: inline-block;
		vertical-align: middle;
	}

	.header .hotline span {
		color: #f9100b;
		font-weight: bold;
	}

	.input-group {
		position: relative;
	}

	.input-group input {
		border:1px solid #e0e0e0;
		height: 35px;
		padding: 0 40px 0 13px;
		border-radius:5px;
		width: 100%;
		color: #999;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.input-group .icons {
		position: absolute;
		font-size: 13px;
		color: #999;
		top: 10px;
		right:14px;
	}	
/*===============02.GENERAL===============*/
	.row {
		font-size: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	.row [class*="ntu-col-"], 
	.row [class*="ntu-column-"] .item {
		display: inline-block;
		vertical-align: top;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 14px;
	}

	

	.row.va-m [class*="ntu-col-"] {
		vertical-align: middle;
	}

/*	.row [class*="ntu-column-"] .item {
		margin-top: 30px;
	}*/

/*	.ntu-column-4 .item:nth-child(-n+4){
		margin-top: 0;
		background-color: red;
	}
*/
	.ntu-column-2 .item:not(:nth-child(-n+2)){
		margin-top: 30px;
		background-color: red;
	}

	.ntu-column-4 .item:not(:nth-child(-n+4)){
		margin-top: 30px;
		/*background-color: red;*/
	}

	.ntu-col-9 {
		width: 75%;
	}

	.ntu-col-3 {
		width: 25%;
	}

	.input-group input:focus{
		border-color: #333;
	}

	.clear::after {
		content: '';
		display: block;
		clear: both;
	}
	.ntu-column-4 .item {
		width: 25%;
	}


	.ntu-column-2 .item {
		width: 50%;
	}

	.ntu-column-3 .item {
		width: 33.333%;
	}

	.text-c {
		text-align: center;
	}
/*===============03.MENU===============*/
		.menu > li {
			float: left;
		}

		.menu li {
			position: relative;
		}

		.menu {
			background-color: rgba(0, 0, 0, 0.1);
			border-bottom: 2px solid #cb672e;
			margin-bottom: 15px;
		}
		/*menu 2*/
		.menu ul {
			position: absolute;
			top:42px;
			left: 0;
			width: 240px;
			background-color:#fff;
			z-index: 999999;
			box-shadow: 1px 1px 15px 0px rgba(255, 255, 255, 0.3);
			opacity: 0;
			pointer-events: none;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.menu a {
			display: block;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 700;
			color: #cb672e;
			padding:11px 25px 7px 25px/*giảm padding ở dưới bù lên phía trên*/
		}

		.menu li:hover > a,
		.menu .active > a {
			background-color: #cb672e;
			color: #fff; 
		}

		.menu li:hover > ul {
			opacity: 1;
			pointer-events: auto;
			top: 40px;
		}
		/*menu thứ 3*/
		.menu ul ul {
			left: 100%;
			top:0;
		}

		.menu ul li:hover > ul {
			top: 0px;
		}

		/*.menu >li > ul {
			border-top :2px solid #cb672e;
		}*/

		.menu >li > ul::before {
			content: '';
			position: absolute;
			top: -2px;
			width: 100%;
			height: 2px;
		}
/*=====================04.FOOTER================================*/
		footer {
			background-color: #fff;
			margin-top: 50px;
		}

		.footer-bottom {
			background-color: #323232;
			position: relative;
			color: #fff;
			margin-top:25px;
		}

		.footer-bottom p {
		    padding: 12px 0;  
		}

		.footer-bottom .hot-line {
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: red;
			font-size: 25px;
			font-weight: 700;
			padding: 2px 14px;
		}

		.footer-bottom .hot-line .icons {
		    font-size: 23px;
		    margin-right: 12px;
		}

		.widgets .widget-title {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 16px;
			color: #323232;
			margin-bottom: 20px;
			position: relative;
		}

		.widgets .widget-title::after {
			content: '';
			display: block;
			width: 40px;
			height: 2px;
			background-color: red;
			margin-top: 2px;
		}

		.widget-content p + p {
			margin-top: 5px;
		}

		.widget-content li + li {
			margin-top: 12px;
		}

		.widget-category a {
			color: #555;
			width: calc(100% - 14px);
			vertical-align: top;
		}

		.widget-category li::before {
			content: '';
			width: 4px;
			height: 4px;
			display: inline-block;
			background-color: #555;
			border-radius: 50%;
			vertical-align: top;
			margin-right: 10px;
			margin-top: 7px;
		}

		.widget-content .icons {
			width: 20px;
			display: inline-block;
			vertical-align: top;
			margin-top: 7px;
		} 

		.widget-content .icons + span {
			width: calc(100% - 20px);
			vertical-align: top;
		} 
		/*phia truoc span ma co icon thi moi xet wwidth*/

		.footer .widgets {
			padding-top: 40px;
		}

		.widget-category li:hover a {
			color: blue;
		}

		.widget-category li:hover:before{
			background-color: blue;
		}	
/*=====================05.SIDEBAR================================*/

		.widgets + .widgets {
			margin-top: 17px;
		}

		.widgets.style-02 .widget-title::after {
			content: none;
		}
		.widgets.style-02 .widget-title::before {
			content: "\f35a";
			font-weight: 900;
			font-family: "Font Awesome 5 Pro";
			position: absolute;
			right: 13px;
			display: block;
			top: calc(50% - 10px);
		}

		.widgets.style-02 .widget-title {
			background-color: #d36b30;
			font-weight: 700;
			text-transform: uppercase;
			padding: 10px;
			color: #fff;
			/*padding-right:25px;*/

		}
		.widget-support li {
			display: table;
			width: 100%;
		}

		.widget-support li >* {
			display: table-cell;
			vertical-align: middle;
		}

		.widget-support li .left {
			width: 50%;
			font-weight: 500;
		}

		.widget-support li .right {
			color: red;
			font-weight: 700;
		}

		.style-02 {
			background-color: #fff;
		    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
		}

		.widgets.style-02 .widget-content {
			padding: 0  15px 0 15px;
		}

		.widget-support .icons {
			font-size: 16px;
			margin-top: 0;
		}

		.left span {
			padding-left: 10px;
		}


		/*.widget-support li  .left{
			display: table-cell;
			vertical-align: middle;
		}
		.widget-support li  .right{
			display: table-cell;
			vertical-align: middle;
		}
	*/

		.widget-blogs .block-content {
			display: table;
		}

		.widget-blogs .block-content >* {
			display: table-cell;
			vertical-align:top;
		}

		.widget-blogs .post-block .image {
			width: 35%;
			border:1px dashed #ccc;
		}

		.widget-blogs .post-block .title a {
			font-weight: 500;
			font-size: 14px;
			color: #323232;
			padding-left: 10px;
		}

		.widget-blogs .post-block .title a:hover {
			color:  #d36b30;
		}

		.widget-blogs .post-block .description {
			margin-top: 10px;
		}

		.widget-blogs .post-block + .post-block {
			border-top: 1px dashed #ccc; 
			margin-top:10px;
			padding-top: 10px;
		}

		.widget-fanpage .widget-title {
			margin-bottom: 0;
		}

		.widgets.widget-fanpage.style-02 .widget-content {
			padding:0;
		}

		.widget-category02 .widget-content .icons {
			vertical-align: middle;
		    color: #cfcfcf;
		    padding-right: 8px;
		    margin-bottom: 6px;
		}


		.widget-category02.style-02 a {
			color: #323232;
			font-size: 14px;
			font-weight: 500;
		}

		.widget-category02.style-02 li:hover a {
			color: blue;
		}
/*======================06.Slider========================*/

		.wrapper-content {
			background-color: #fff;
		    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
		    padding:15px;
		    min-height: 3000px;
		}

		.welcome .title {
			font-weight: 400;
			font-size: 24px;
			color: #323232;
			margin-bottom: 15px;
		}

		.welcome p+p {
			margin-top: 20px;
		}

		.welcome {
			margin-top: 57px;
		}

		.welcome a {
			color: #cb672e;
		}

		.ad .title {
			color:#56a6b2;
			font-weight: 500;
			font-size: 36px;

		}

		.ad .sub-title {
			font-size: 24px;
			font-weight: 500;
			color: #f51b1b;
			margin-top: 20px;
		} 

		.ad {
			margin-top: 33px;
		}

		.wrapper-products {
			margin-top: 44px;
		}

		.title-product {
			background-color: #d36b30;
			color: #fff;
			padding: 12px 30px 8px 30px;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			position:relative;
			margin-bottom: 17px;
		}

		.title-product::after {
			content:'';
			width:6px;
			height:6px;
			background-color:#fff;
			border-radius:50%;
			position:absolute;
			top:10px;
			left:10px;
		}

		.title-product::before {
			content:'';
			width:0px;
			height:0px;
			position:absolute;
			top:0;
			left:0;
			border-top:18px solid #fff;
			border-right:18px solid transparent;
/* 			border-left:15px solid green; */

		}

		.product h1 {
			font-size:14px;
			font-weight:500;
			text-align:center;
			margin-top: 14px;
		}

		.product h1 a {
			color:#323232;
		}

		.product h1 a:hover {
			color:#d36b30;
		}

		.product .img {
			border: 1px solid #dbdbdb;
			display: block;
			position: relative;
		}

		.product .img::before {
			content:'';
			display: block;
			padding-top: 100%;/*ti le height/ width*/
			background-color: red;
		}
		/*tất cả những phần tử nào cùng cấp với before --> đều đưa về absolute*/
		.product .img img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.product .img::after {
			content: '';
			top: 15px;
			left: 15px;
			bottom: 15px;
			right: 15px;
			position: absolute;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			background-color: rgba(51, 51, 51, 0);
		}

		.product:hover .img::after {
			background-color:rgba(51, 51, 51, 0.1);
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

		}

		.comment {
			margin-top: 40px;
		}

		.comment h1 {
			font-weight: 700;
			font-size: 18px;
			color: #323232;
			text-transform: uppercase;
			
		}


/*cách xử lý hình ảnh trong html/css*/
/*1 .Hình ảnh chạy theo khung
	Cố định khung theo một tỉ lệ nào đó --> tất cả hình ảnh có chung kích thước.
	Không được phép cố định height-->không dùng tủi lệ cho màn hình khác.
	-Khung luôn luôn cố định theo một tỉ lệ nhất định(tỉ lệ 1-1 width luôn luôn bằng height với mọi màn hình)
	==>Dùng before after để tạo ra một khung ảo.Nó ràng buộc nhau theo tính chất bắc cầu.
	.img --> chạy theo before của nó
	<img> --> chạy theo parent(class .img)
	<img> --> chạy theo before
2. Cho khung chạy theo hình ảnh:
	Cố định width,height:auto ---> height của tấm hình là bao nhiêu -->khung sẽ là bấy nhiêu.

*/